name: Python Package using Conda

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  actions: write
  checks: write
  contents: read
  pull-requests: write
  statuses: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v6
            - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install dependencies
        run: | 
          python -m pip install --upgrade uv
          uv pip install torch --index-url https://download.pytorch.org/whl/cpu
          uv pip install . 
          uv pip install ruff pytest
      - name: Lint with ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          ruff check --select=E9,F63,F7,F82 --exit-zero
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          ruff check --output-format concise --exit-zero
          # Checking documentation errors
          ruff check  --select=D  --exit-zero --statistics 
      - name: Test with pytest
        run: |
          pytest
